* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

.controls-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.grid-wrapper {
	height: 90vh;
  display: flex;
  justify-content: center;
}

.grid {
	align-items: center;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 700px;
  width: 700px; 
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 6.5%; 
	width: 6.5%;
}

#start {
	background-color: hotpink;
	color: white;
	height: 30px;
	width: 150px;
	border-radius: 10px;
}

.grid div.player {
  background-image: url('../assets/monster-clipart-slimy-transparent.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}


.grid div.invader {
	background-color: orange;
	border-radius: 10px;
}

.grid div.collision {
	background-color: black;
}

.grid div.lazer {
	background-color: brown;
}

.grid div.blast {
	background-color: yellow;
}

.grid div.block {
	background-color: teal;
}

.grid div.alien-lazer {
	background-color: greenyellow;
}

