* {
  box-sizing: border-box;
}

body {
  height: 100vh;
	margin: 0;
	background-color: black;
	/* background-image: url('../assets/sky\ background.png'); */
	/* background-image: url('../assets/SecondGIF.gif'); */
	background-image: url('../assets/photo-1528818955841-a7f1425131b5.jpeg');
	padding: 50px;
}

.controls-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.grid-wrapper {
	height: 90vh;
  display: flex;
	justify-content: center;
	padding: 30px;
}

.grid {
	background-image: url('../assets/SpaceGIF.gif');
	align-items: center;
	box-shadow: 0 0 30px 0 rgba(198, 248, 0, 0.9);
	/* background-image: url('../assets/pngwave\ \(1\).png'); */
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 700px;
	width: 700px; 
	
}

.grid div {
	/* border: 1px solid lightgrey; */
	color: white;
  flex-grow: 1;
  height: 6.5%; 
	width: 6.5%;
	/* margin: 20px; */
}

.about-game {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 40px;
	font-size: 30px;
	color: #C6F800;
	/* font-family: 'Acme', sans-serif; */
	height: 500px;
	width: 300px;
	text-align: center;
	/* font-family: 'Press Start 2P', cursive; */
	font-family: 'Creepster', cursive;
	/* border: 2px solid white  */
}

.spacing {
	padding-bottom: 15px; 
}

.title {
display: flex;
/* color: #C04CFD; */
color: blue;
font-family: 'VT323', monospace;
justify-content: center;
font-size: 75px;
/* text-shadow: #00EB15 1px 0 10px */
/* text-shadow: 2px 2px 5px rgb(161, 161, 161); */
text-shadow: 5px 4px 5px #00EB15, 0 0 25px #C04CFD, 0 0 10px darkblue
/* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

.title :hover {
	transform: scale(1.4);
}

h1 {
padding: 10px;
margin: auto;

}


.score-display {
	
	background-color: #00EB15;
	border: 2px solid blue;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	width: 250px;
	height: 50px;
	font-size: 30px;
	font-family: 'VT323', monospace;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 10px 10px 50px blue;
	color: black
}

.win-lose{
	background-color: crimson;
	color: white;
}

.blink {
	animation: blinker 1s step-start infinite;
	/* background-color: crimson;
	color: white; */
}
@keyframes blinker {
	50% {
    opacity: 0;
  }
}

.score-display :hover{
	transform: scale(1.4);
	box-shadow: 0 0 100px blue;
}

#start {
	background-color: #00EB15;
	border: 2px solid blue;
	display: flex;
	justify-content: center;
	width: 250px;
	height: 50px;
	font-size: 30px;
	font-family: 'VT323', monospace;
	border-radius: 10px;
	cursor: pointer;
	color: black	
	
}


.grid div.player {
  background-image: url('../assets/hand-sanitizer-png-3-transparent.png');
  background-repeat: no-repeat;
  background-size: contain;
}


.grid div.invader {
	/* background-image: url('../assets/pngwave\ virus.png'); */
background-image: url('../assets/virus.png');
	border-radius: 10px;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}

.grid div.lazer {
	background-image: url('../assets/kisspng-emoji-drop-water-splash-drawing-water-5abb7600b7c6b5.5702739415222348807528.png');
	background-repeat: no-repeat;
  background-size: contain;
	/* cursor: pointer; */

}

.grid div.blast {
	background-image: url('../assets/pngwave.png');
	background-repeat: no-repeat;
  background-size: contain;
}

.grid div.block {
	background-image: url('../assets/mask.png');
	background-repeat: no-repeat;
  background-size: contain;
	border-radius: 10px;
}

.grid div.alien-lazer {
	background-color: greenyellow;
}

.grid div.corona-alien {
	background-image: url('../assets/kindpng_1845865.png');
	background-repeat: no-repeat;
  background-size: contain;
}

.grid div.danger-row {
	background-color: rgba(0, 0, 0, 0.2);
}